/* libarary Font Size */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

/* Normaly */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

body{
  font-family: "Open Sans", sans-serif;
}

/* normaly Start */

.container{
    max-width: 1200px;
    margin: auto;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

/* normaly End */


/* Header Start */
header{
    position: fixed;
    background-color: transparent;
    width: 100%;
    min-height: 60px;
    z-index: 1;
    padding: 1.5rem 0;
    -webkit-backdrop-filter:blur(30px);
    backdrop-filter: blur(30px);
}

header .navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header .navbar .logo{
    display: flex;
    align-items: center;
}

header .navbar .logo:hover h3{
    color: white;
}



header .navbar .logo i{
    color: green;
    font-size: 37px;
    transition: all 0.3s ease;
    cursor: pointer;

}

header .navbar .logo h3{
    color: black;
    font-weight: 800;
    font-size: 35px;
    font-style: italic;
    transition: all 0.3s ease;

}

header .navbar nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

header .navbar nav ul{
    gap:20px;
}

header .navbar nav ul li a{
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding: 10px;
    transition: all 0.4s ease;
}
header .navbar nav ul li a:hover{
    border-radius: 50px;
    background-color: green;

}
/* Header End */

/* Home page Start */
#home {
    background-image: url("img/home-fruits.png");
    background-repeat: no-repeat;
    background-position: 100% 20%; 
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color:aqua;
}


#home .content{
    margin-left: 10%;
    color: white;
}

#home .content h2{
  font-size: 35px;
  font-weight: 700;
}

#home .content h1{
  font-size: 60px;
  font-weight: 600;
  color: orange;
  margin: 15px 0;
}

#home .content a{
    margin-top: 25px;
    background-color: orange;
    padding: 17px;
    border-radius: 50px;
    color: white;
    font-weight: 700;
    font-size: 17px;
    box-shadow: 0 0 20px rgba(255, 165, 0, 0.5);
    transition: all 0.4s ease;
    border: 2px solid white;
}

#home .content p{
    font-weight: 600;
    font-size: 18px;
}

#home .content a:hover{
    background-color: rgb(237, 165, 32);
    box-shadow: 0 0 20px rgba(148, 97, 2, 0.5);
}
/* Home page End */



/* media Start */
@media (max-width: 768px) {
    #home {
        background-position: center;
        background-size: cover;
    }
}
/* media End */